body{
    background-color: #242a69;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /*display: grid;
    background-color: #242a69;
    grid-template-areas:
    "myHeader myHeader"
    "myMenu myMain"
    "myFooter myFooter";
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: 1fr 3fr;*/
}

/*#makeMenuOnSide{
    display: flex;
    flex-direction: row;
}*/

header, button{
    background-color: #6caccb;
    color: black;
}

button:hover{
    color: #d7bd84;
}

header{
    grid-area: myHeader;
    text-transform: capitalize;
    border: solid black 3px;
}

.mymenu{
    grid-area: myMenu;
    display: flex;
    flex-direction: column;
    padding: 5px;
    
}

nav{
    position: sticky;
    top:0;
    width: 85%;
    margin: auto;
}

.mymenu > button{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 30px;
    text-transform: lowercase;
    font-size: medium;
    border-radius:5px;
}

.thepage{
    grid-area: myMain;
    width: 90%
}

footer{
    grid-area: myFooter;
}
#mainheader, #changeStyle{
    color: black;
}

p, h2, figcaption{
    color: #d7bd84;
}

a, a:visited{
    color: #6caccb;
}

/*#9572B2;*/


@media only screen and (max-width: 1050px) {
    #makeMenuOnSide{
        flex-direction: column;
    }
    .mymenu{
        width: 90%;
        padding: 10px;
    }
    .picGroup{
        flex-wrap: wrap;
    }
    .picGroup > img{
        border-radius: 5%;
        max-width: 15%;
        height: auto;
        min-width: 10%;
}

@media only screen and (max-width: 711px){
    nav{
        width: 100%;
    }
}
}